html, body
    margin 0
    padding 0
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

main
    min-height 100vh
    padding 0 8vmin
    display flex
    flex-direction column
    align-items center
    align-content center
    justify-content center
    background-color dodgerblue
    user-select none

#quote
    font-size 7vmin
    font-family 'Quicksand', sans-serif
    transition opacity 0.25s
    text-align center
    color white

.fade
    opacity 0